$dark-black: rgb(33, 45, 49);

$html5-color: #E16747;
$css3-color: #2062AF;
$scss-color: #CF649A;
$javascript-color: #F0DB4F;
$react-color: #61DAFB;
$redux-color: #764ABC;
$nodejs-color: #8CC84B;
$express-color: #222222;
$mongodb-color: #599636;