@import '_bp';
@import '_nav';
@import '_footer';
@import '_tags';

.sections{
    max-width: 70rem;

    margin: 0rem auto;
    padding: 0rem 2rem;
    .sections__section{
        padding: 1.2rem 0rem;
        p{
            padding: 1.2rem 0rem;
        }
    }
}

@media(max-width: 555px) {

}